extends ../layouts/default

block body_content
  article.panel
    .container
      if pageHeading
        h1= pageHeading 
      form(method='post')
        #title
          input(type='text', name='title', placeholder='Title*', value=service.title)
        #body
          textarea(name='body', placeholder='Body', cols='10', rows='5')
            = service.body
        #position
          input.position(type='number', name='position', placeholder='Position', value=service.position)
        #submit
          input(type='submit')
