extends ../layouts/default

block body_content
  article.panel
    div.container
      a.btn.new-btn(href='/services/new') New Service
      table.edit-content
        thead
          tr
            th.position Pos
              i.icon-chevron-up
            th.title Title 
              i.icon-chevron-up
            th.date Updated Date
              i.icon-chevron-up
            th.by Updated By
              i.icon-chevron-up
            th.edit Log
            th.edit Edit
            
        tbody
          - each service in services
            tr
              td
                a(href='/services/' + service.slug + '/edit')
                  = service.position
              td
                strong 
                  a(href='/services/' + service.slug + '/edit')
                    = service.title
              td
                a(href='/services/' + service.slug + '/edit')
                  = dateUpdated(service)
              td
                a(href='/services/' + service.slug + '/edit')
                  = authorUpdated(service)
              td
                a(href='/services/' + service.slug + '/log') Log
              td
                a(href='/services/' + service.slug + '/edit') Edit
