article#service.services.panel
  .container
    h2 Services
    .content
      p.section-content.
        We harness the power of graphic design, language, and technology to help organizations, companies, and brands communicate, inspire, and motivate. And we do this ethically and honestly with no hype or bullshit.
      ul.first
        li Name Development
          .flyout.fly-right
            h4 Content Strategy
            p.
              Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deli.ver our cli.ent’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
        li Brand Strategy
          .flyout.fly-right
            h4 Content Strategy
            p.
              Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deli.ver our cli.ent’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
        li Graphic Identities
          .flyout.fly-right
            h4 Content Strategy
            p.
              Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deli.ver our cli.ent’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
        li Web Design &amp; Production
          .flyout.fly-right
            h4 Content Strategy
            p.
              Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deli.ver our cli.ent’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
        li Responsive Web Design
          .flyout.fly-right
            h4 Content Strategy
            p.
              Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deli.ver our cli.ent’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
        li Motion/Animation
          .flyout.fly-right
            h4 Content Strategy
            p.
              Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deli.ver our cli.ent’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
      ul.last
        li Content Strategy
          .flyout.fly-left
            h4 Content Strategy
            p.
              Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deli.ver our cli.ent’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
        li Content Development
          .flyout.fly-left
            h4 Content Development
            p.
              Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deli.ver our cli.ent’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
        li Advertising
          .flyout.fly-left
            h4 Content Strategy
            p.
              Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deli.ver our cli.ent’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
        li Print Collateral
          .flyout.fly-left
            h4 Content Strategy
            p.
              Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deli.ver our cli.ent’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
        li Merchandise
          .flyout.fly-left
            h4 Content Strategy
            p.
              Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deli.ver our cli.ent’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
        li Tradeshow/Signage
          .flyout.fly-left
            h4 Content Strategy
            p.
              Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deli.ver our cli.ent’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
    .q.pinq(data-stellar-ratio='2', data-stellar-vertical-offset='350')
