extends ../layouts/default

block body_content
  article.panel
    div.container
      - each panel in panels
        p
          strong
            a(href='/panel/' + panel.slug + '/edit')
              = panel.title
          br
          != panel.body
