extends ../layouts/default

block body_content
  article.panel
    div.container
      a.btn.new-btn(href='/panels/new') New Panel
      table.edit-content
        thead
          tr
            th.position Pos
              i.icon-chevron-up
            th.title Title 
              i.icon-chevron-up
            th.date Updated Date
              i.icon-chevron-up
            th.by Updated By
              i.icon-chevron-up
            th.log Log
            th.edit Edit
            
        tbody
          - each panel in panels
            tr
              td
                a(href='/panels/' + panel.slug + '/edit')
                  = panel.position
              td
                strong 
                  a(href='/panels/' + panel.slug + '/edit')
                    = panel.title
              td
                a(href='/panels/' + panel.slug + '/edit')
                  = dateUpdated(panel)
              td
                a(href='/panels/' + panel.slug + '/edit')
                  = updatedBy(panel)
              td
                a(href='/panels/' + panel.slug + '/log') Log
              td
                a(href='/panels/' + panel.slug + '/edit') Edit

block body_scripts
  script(src='/scripts/vendor/tablesorter/jquery.tablesorter.min.js')
  script.
    jQuery(function($){
      $('.edit-content').tablesorter();
    });
