extends ../layouts/default

block body_content
  article.panel
    div.container
      each change in panel.changeLog
        p
          strong
            = change.data.title + ' (version: ' + change.data.__v + ', author: ' + change.username + ', date: ' + ( change._id ? change._id.getTimestamp() : panel._id.getTimestamp() ) +')'
          br
          != change.data.body
