extends ../layouts/default

block body_content
  article.panel
    div.container
      h1= panel.title
      p#body
        != panel.body
      #position 
        strong Position
        br
        = panel.position
