    <body onload="changevid()">
        <header class="header clearfix">
            <h1 class="logo"><%= title %></h1>
            <nav class="main-nav">
                <ul class="inline">
                    <li><a href="#about">About</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#crew">Crew</a></li>
                    <li><a href="#clients">Clients</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#blog">Blog</a></li>
                </ul>
            </nav>
        </header>
        <section class="headline">
            <h3>Making the world a better place through design and communication</h3>
            <video id="vid" preload autoplay loop muted="muted">
            </video>
            <div class="teal"></div>
        </section>
        <article id="about" class="about panel">
            <div class="container">
               <h2>About</h2>
                <p class="content">Q is a strategic design studio that has worked with hundreds of clients for over 30 years. We create brand strategies, visual systems, and marketing materials that deliver compelling user experiences in all media. We help our clients succeed and thrive by designing and developing successful communications. In turn and in our own small way, we help make the world a better place.</p>
                <div class="q" data-stellar-ratio="2" data-stellar-vertical-offset="200"></div>
            </div>
        </article>
        <article id="work" class="work panel">
            <div class="container">
                <h2>Work</h2>
                <div class="content">
                    <p>We work with local and international clients of all sizes throughout North America, Europe, and Asia with special expertise in education, health, technology, the arts, the environment, and the non-profit sector.</p>
                </div>
                <ul class="project-grid">
                    <li class="project-wrap">
                        <a class="clearfix trigger project-trigger" data-target="1" href="#">
                            <img src="http://lorempixel.com/350/230/animals" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                    <li class="project-wrap">
                        <a class="clearfix trigger project-trigger" data-target="2" href="#">
                            <img src="http://lorempixel.com/350/230/animals/1" alt="">
                            <span>Applecon</span>
                        </a>    
                    </li>
                    <li class="project-wrap omega">
                        <a class="clearfix trigger project-trigger" data-target="3" href="#">
                            <img src="http://lorempixel.com/350/230/animals/2" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                    <li class="project-wrap">
                        <a class="clearfix trigger project-trigger" data-target="4" href="#">
                            <img src="http://lorempixel.com/350/230/animals/3" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                    <li class="project-wrap">
                        <a class="clearfix trigger project-trigger" data-target="5" href="#">
                            <img src="http://lorempixel.com/350/230/animals/4" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                    <li class="project-wrap omega">
                        <a class="clearfix trigger project-trigger" data-target="6" href="#">
                            <img src="http://lorempixel.com/350/230/animals/5" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                    <li class="project-wrap">
                        <a class="clearfix trigger project-trigger" data-target="7" href="#">
                            <img src="http://lorempixel.com/350/230/animals/6" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                    <li class="project-wrap">
                        <a class="clearfix trigger project-trigger" data-target="8" href="#">
                            <img src="http://lorempixel.com/350/230/animals/7" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                    <li class="project-wrap omega">
                        <a class="clearfix trigger project-trigger" data-target="9" href="#">
                            <img src="http://lorempixel.com/350/230/animals/8" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                </ul>
            </div>
        </article>
        <article id="services" class="services panel">
            <div class="container">
                <h2>Services</h2>
                <div class="content">
                    <p class="section-content">We harness the power of graphic design, language, and technology to help organizations, companies, and brands communicate, inspire, and motivate. And we do this ethically and honestly with no hype or bullshit.</p>
                    <ul class="first">
                    <li>Name Development
                        <div class="flyout fly-right">
                            <h4>Content Strategy</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>Brand Strategy
                        <div class="flyout fly-right">
                            <h4>Content Strategy</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>Graphic Identities
                        <div class="flyout fly-right">
                            <h4>Content Strategy</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>Web Design &amp; Production
                        <div class="flyout fly-right">
                            <h4>Content Strategy</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>Responsive Web Design
                        <div class="flyout fly-right">
                            <h4>Content Strategy</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>Motion/Animation
                        <div class="flyout fly-right">
                            <h4>Content Strategy</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    </ul>
                    <ul class="last">
                    <li>Content Strategy
                        <div class="flyout fly-left">
                            <h4>Content Strategy</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>
                        Content Development
                        <div class="flyout fly-left">
                            <h4>Content Development</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>
                        Advertising
                        <div class="flyout fly-left">
                            <h4>Advertising</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>
                        Print Collateral
                        <div class="flyout fly-left">
                            <h4>Print Collateral</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>Merchandise</li>
                    <li>Tradeshow/Signage</li>
                    </ul>
                </div>
                <div class="q pinq" data-stellar-ratio="2" data-stellar-vertical-offset="350"></div>
            </div>
        </article>
<!--         <article id="value" class="value panel">
            <h3>Things We Value:</h3>
        </article> -->
        <article id="crew" class="crew panel">
            <div class="container">
                <h2>Crew</h2>
                <div class="crew-grid content">
                    <ul>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4>Christine Golus</h4>
                            <h5>VICE PRESIDENT/CREATIVE DIRECTOR</h5>
                            <p>
                                100% Polish! Attended Central Michigan University and the University of Michigan (BFA, Magna Cum Laude, 1980). Taught graphic design at Eastern Michigan and Washtenaw Community College. Loves: modern dance and motherhood. Longest serving Q employee, since 1983.
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4>Christine Golus</h4>
                        </div>
                    </li>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4>Christine Golus</h4>
                        </div>
                    </li>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4>Christine Golus</h4>
                        </div>
                    </li>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4>Christine Golus</h4>
                        </div>
                    </li>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4>Christine Golus</h4>
                        </div>
                    </li>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4>Christine Golus</h4>
                        </div>
                    </li>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4></h4>
                        </div>
                    </li>
                    </ul>
                </div>
                <div class="q" data-stellar-ratio="0.5" data-stellar-vertical-offset="220"></div>
            </div>
        </article>
        <article id="clients" class="clients panel">
            <div class="container">
                <h2>Clients</h2>
            </div>
        </article>
include pages/contact
