<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
<script type="text/javascript" src="//use.typekit.net/hia2tcg.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="stylesheets/main.css">
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="components/modernizr/modernizr.js"></script>
         <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="scripts/jquery.scrollTo-min.js"></script>
        <script src="scripts/jquery.stellar.min.js"></script>
        <!-- endbuild -->
        <script>
            function changevid() {
                document.getElementById('vid').innerHTML = '<source src="images/power.mp4" type="video/mp4">';
                document.getElementById('vid').load();                    
            }
        </script>
    </head>
    <body onload="changevid()">
        <header class="header clearfix">
            <h1 class="logo"><%= title %></h1>
            <nav class="main-nav">
                <ul class="inline">
                    <li><a href="#about">About</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#crew">Crew</a></li>
                    <li><a href="#clients">Clients</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#blog">Blog</a></li>
                </ul>
            </nav>
        </header>
        <section class="headline">
            <h3>Making the world a better place through design and communication</h3>
            <video id="vid" preload autoplay loop muted="muted">
            </video>
            <div class="teal"></div>
        </section>
        <article id="about" class="about panel">
            <div class="container">
               <h2>About</h2>
                <p class="content">Q is a strategic design studio that has worked with hundreds of clients for over 30 years. We create brand strategies, visual systems, and marketing materials that deliver compelling user experiences in all media. We help our clients succeed and thrive by designing and developing successful communications. In turn and in our own small way, we help make the world a better place.</p>
                <div class="q" data-stellar-ratio="2" data-stellar-vertical-offset="200"></div>
            </div>
        </article>
        <article id="work" class="work panel">
            <div class="container">
                <h2>Work</h2>
                <div class="content">
                    <p>We work with local and international clients of all sizes throughout North America, Europe, and Asia with special expertise in education, health, technology, the arts, the environment, and the non-profit sector.</p>
                </div>
                <ul class="project-grid">
                    <li class="project-wrap">
                        <a class="clearfix trigger project-trigger" data-target="1" href="#">
                            <img src="http://lorempixel.com/350/230/animals" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                    <li class="project-wrap">
                        <a class="clearfix trigger project-trigger" data-target="2" href="#">
                            <img src="http://lorempixel.com/350/230/animals/1" alt="">
                            <span>Applecon</span>
                        </a>    
                    </li>
                    <li class="project-wrap omega">
                        <a class="clearfix trigger project-trigger" data-target="3" href="#">
                            <img src="http://lorempixel.com/350/230/animals/2" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                    <li class="project-wrap">
                        <a class="clearfix trigger project-trigger" data-target="4" href="#">
                            <img src="http://lorempixel.com/350/230/animals/3" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                    <li class="project-wrap">
                        <a class="clearfix trigger project-trigger" data-target="5" href="#">
                            <img src="http://lorempixel.com/350/230/animals/4" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                    <li class="project-wrap omega">
                        <a class="clearfix trigger project-trigger" data-target="6" href="#">
                            <img src="http://lorempixel.com/350/230/animals/5" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                    <li class="project-wrap">
                        <a class="clearfix trigger project-trigger" data-target="7" href="#">
                            <img src="http://lorempixel.com/350/230/animals/6" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                    <li class="project-wrap">
                        <a class="clearfix trigger project-trigger" data-target="8" href="#">
                            <img src="http://lorempixel.com/350/230/animals/7" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                    <li class="project-wrap omega">
                        <a class="clearfix trigger project-trigger" data-target="9" href="#">
                            <img src="http://lorempixel.com/350/230/animals/8" alt="">
                            <span>North Star Reach</span>
                        </a>    
                    </li>
                </ul>
            </div>
        </article>
        <article id="services" class="services panel">
            <div class="container">
                <h2>Services</h2>
                <div class="content">
                    <p class="section-content">We harness the power of graphic design, language, and technology to help organizations, companies, and brands communicate, inspire, and motivate. And we do this ethically and honestly with no hype or bullshit.</p>
                    <ul class="first">
                    <li>Name Development
                        <div class="flyout fly-right">
                            <h4>Content Strategy</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>Brand Strategy
                        <div class="flyout fly-right">
                            <h4>Content Strategy</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>Graphic Identities
                        <div class="flyout fly-right">
                            <h4>Content Strategy</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>Web Design &amp; Production
                        <div class="flyout fly-right">
                            <h4>Content Strategy</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>Responsive Web Design
                        <div class="flyout fly-right">
                            <h4>Content Strategy</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>Motion/Animation
                        <div class="flyout fly-right">
                            <h4>Content Strategy</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    </ul>
                    <ul class="last">
                    <li>Content Strategy
                        <div class="flyout fly-left">
                            <h4>Content Strategy</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>
                        Content Development
                        <div class="flyout fly-left">
                            <h4>Content Development</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>
                        Advertising
                        <div class="flyout fly-left">
                            <h4>Advertising</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>
                        Print Collateral
                        <div class="flyout fly-left">
                            <h4>Print Collateral</h4>
                            <p>
                                Brochures, annual reports, advertisements, catalogs, direct mail, posters, stationery - the right combination of words, imagery, format, typography, paper, and color deliver our client’s unique message. We take great pride in our craft and work with our colleagues in the print industry to flawlessly execute our work.
                            </p>    
                        </div>
                    </li>
                    <li>Merchandise</li>
                    <li>Tradeshow/Signage</li>
                    </ul>
                </div>
                <div class="q pinq" data-stellar-ratio="2" data-stellar-vertical-offset="350"></div>
            </div>
        </article>
<!--         <article id="value" class="value panel">
            <h3>Things We Value:</h3>
        </article> -->
        <article id="crew" class="crew panel">
            <div class="container">
                <h2>Crew</h2>
                <div class="crew-grid content">
                    <ul>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4>Christine Golus</h4>
                            <h5>VICE PRESIDENT/CREATIVE DIRECTOR</h5>
                            <p>
                                100% Polish! Attended Central Michigan University and the University of Michigan (BFA, Magna Cum Laude, 1980). Taught graphic design at Eastern Michigan and Washtenaw Community College. Loves: modern dance and motherhood. Longest serving Q employee, since 1983.
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4>Christine Golus</h4>
                        </div>
                    </li>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4>Christine Golus</h4>
                        </div>
                    </li>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4>Christine Golus</h4>
                        </div>
                    </li>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4>Christine Golus</h4>
                        </div>
                    </li>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4>Christine Golus</h4>
                        </div>
                    </li>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4>Christine Golus</h4>
                        </div>
                    </li>
                    <li>
                        <img src="../images/photo.png" alt="">
                        <div class="flyout fly-top">
                            <h4></h4>
                        </div>
                    </li>
                    </ul>
                </div>
                <div class="q" data-stellar-ratio="0.5" data-stellar-vertical-offset="220"></div>
            </div>
        </article>
        <article id="clients" class="clients panel">
            <div class="container">
                <h2>Clients</h2>
            </div>
        </article>
        <article id="contact" class="contact panel">
            <div class="container">
                <h2>Contact</h2>
                <div class="content">
                    <p>
                        We have a full-service office in Ann Arbor, Michigan. Our team is also represented in Los Angeles, Toronto, and occassionally Barbados. Our sister Q in Wiesbaden, Germany holds down the fort across the pond. If you have a project you’d like to discuss, please send us a note. We’d love to hear from you.
                    </p>
                    <form action="">
                        <input placeholder="Name*" type="text">
                        <input placeholder="Email*" type="text">
                        <input placeholder="Company*" type="text">
                        <textarea placeholder="Comments*" name="" id="" cols="10" rows="5"></textarea>
                        <input type="submit" value="Submit" id="contact-submit">
                    </form>
                </div>
            </div>
        </article>
        <footer id="footer">
            <div class="container">
                <h2 class="section-title">Connect</h2>
                <ul class="social">
                    <li><a class="facebook" href="#"><i class="icon-facebook"></i><span>Facebook</span></a></li>
                    <li><a href="#"><i class="icon-twitter"></i><span>Twitter</span></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i><span>LinkedIn</span></a></li>
                </ul>
                <div class="newsletter">
                    <form action="http://email.qltd.com/t/1/s/idhld/" method="post" class="clearfix">
                        <input placeholder="Email" type="text" name="mb-idhld-idhld" id="mb-idhld-idhld" class="field" />
                        <input type="submit" value="Newsletter Sign-up" id="submitbutton"/>
                    </form>
                    <p>
                        Q news and updates four times a year. Your info is safe with us. 
                    </p>
                </div>
            </div>
        </footer>
        <div class="portfolio">
            <div id="project-1" class="project">
                <header>
                    <div class="container">
                        <h3>North Star Reach</h3>
                        <div class="content">
                            <p>
                                Creating a web site focusing on the audible experience of poetry, the spoken word. The site offers an ever-expanding, media-rich library of poets and poetry, as well as a regional map of upcoming poetry events. <a href="#">Visit site</a>.
                            </p>
                        </div>
                    </div>
                    <a class="close" href="#">Close</a>
                </header>
                <section>
                    <div class="container">
                        <img src="../images/port/NorthStarReach1.png" alt="">   
                        <img src="../images/port/NorthStarReach2.png" alt="">   
                        <img src="../images/port/NorthStarReach3.png" alt="">   
                        <img src="../images/port/NorthStarReach4.png" alt="">                      
                    </div>
                </section>
                <footer>
                    
                </footer>
            </div>
            <div id="project-2" class="project">
                <header>
                    <div class="container">
                        <h3>Applecon</h3>
                        <div class="content">
                            <p>
                                Creating a web site focusing on the audible experience of poetry, the spoken word. The site offers an ever-expanding, media-rich library of poets and poetry, as well as a regional map of upcoming poetry events. <a href="#">Visit site</a>.
                            </p>
                        </div>
                    </div>
                    <a class="close" href="#">Close</a>
                </header>
                <section>
                    <div class="container">          
                    </div>
                </section>
                <footer>
                </footer>
            </div>
        </div>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="components/requirejs/require.js"></script>

        <!-- endbuild -->
        <script>
        	jQuery(function($){
                $.stellar({
                    hideDistantElements: true,
                    responsive: true
                });

				$("a[href^='#']").click(function(){//$.scrollTo works EXACTLY the same way, but scrolls the whole screen
					$.scrollTo( this.hash, 800, { offset:-150 });
					return false;
				});

                $('.trigger').on('click', function(){
                    $target = $(this).attr('data-target');
                    $('.portfolio').addClass('open');
                    $('#project-' + $target).addClass('active');
                });

                $('.close').on('click', function(){
                    $('.portfolio').removeClass('open');
                    $('.project').removeClass('active');
                });


                $(document).keyup(function(e) {
                    if (e.keyCode == 27) {
                        $('.portfolio').removeClass('open');
                        $('.project').removeClass('active');
                    }
                });
        	});

        </script>
</body>
</html>
