extends layouts/default

block head_scripts
  include blocks/index/head_scripts

block top_navigation
  include blocks/navigation/index

block body_content
  include blocks/index/headline
  include blocks/index/about
  include blocks/index/work
  include blocks/index/services
  include blocks/index/contact

block body_scripts
  include blocks/index/body_scripts
