extends layouts/default

block head_content
  script(type='text/javascript').
    function changevid() {
      document.getElementById('vid').innerHTML = '<source src="images/power.mp4" type="video/mp4">';
      document.getElementById('vid').load();
    }

block top_navigation
  include navigation/index

block body_content
  include content/index/headline
  include content/index/about
  include content/index/work
  include content/index/services
  include content/index/contact
