extends layouts/default

block head_scripts
  include blocks/index/head_scripts

block top_navigation
  include blocks/index/top_navigation

block body_content
  include blocks/index/headline
  include blocks/index/about
  include blocks/index/work
  include blocks/index/services
  include blocks/index/crew
  include blocks/index/clients
  include blocks/index/contact
  include blocks/index/footer
  include blocks/index/portfolio

block body_scripts
  include blocks/index/body_scripts
