extends layout

block head_content
  script(type='text/javascript').
    function changevid() {
      document.getElementById('vid').innerHTML = '<source src="images/power.mp4" type="video/mp4">';
      document.getElementById('vid').load();
    }

block body_content
  include includes/header
  include includes/headline
  include pages/about
  include pages/work
  //- include pages/services
  include pages/contact
