extends layout

- page_title.set ("Q LTD Test");

block body_content
  include includes/header
  include includes/headline
  include pages/about
  include pages/work
  //- include pages/services
  include pages/contact
