footer#footer
  .container
    h2.section-title Connect
    ul.social
      li
        a.facebook(href='#')
          i.icon-facebook
          span.
            Facebook
      li
        a(href='#')
          i.icon-twitter
          span.
            Twitter
      li
        a(href='#')
          i.icon-linkedin
          span.
            LinkedIn
    .newsletter
      form.clearfix(action='http://email.qltd.com/t/1/s/idhld/', method='post')
        input.field(placeholder='Email', type='text', name='mb-idhld-idhld', id='mb-idhld-idhld')
        input(type='submit', value='Newsletter Sign-up', id='submitbutton')
      p.
        Q news and updates four times a year. Your info is safe with us.

//- <footer id="footer">
//-   <div class="container">
//-     <h2 class="section-title">Connect</h2>
//-     <ul class="social">
//-       <li><a class="facebook" href="#"><i class="icon-facebook"></i><span>Facebook</span></a></li>
//-       <li><a href="#"><i class="icon-twitter"></i><span>Twitter</span></a></li>
//-       <li><a href="#"><i class="icon-linkedin"></i><span>LinkedIn</span></a></li>
//-     </ul>
//-     <div class="newsletter">
//-       <form action="http://email.qltd.com/t/1/s/idhld/" method="post" class="clearfix">
//-           <input placeholder="Email" type="text" name="mb-idhld-idhld" id="mb-idhld-idhld" class="field" />
//-           <input type="submit" value="Newsletter Sign-up" id="submitbutton"/>
//-       </form>
//-       <p>
//-           Q news and updates four times a year. Your info is safe with us. 
//-       </p>
//-     </div>
//-   </div>
//- </footer>