//- Top Navigation for Root Document

nav.main-nav
  ul.inline
    li: a(href='#about') About
    li: a(href='#work') Work
    li: a(href='#services') Services
    li: a(href='#crew') Crew
    li: a(href='#clients') Clients
    li: a(href='#contact') Contact
    li: a(href='#blog') Blog
