extends ../layouts/default

block body_content
  article.panel
    div.container
      table.edit-content
        thead
          tr
            th.version
              i.icon-chevron-up
            th.title Title 
              i.icon-chevron-up
            th.body Body 
              i.icon-chevron-up
            th.date Updated Date
              i.icon-chevron-up
            th.by Updated By
              i.icon-chevron-up
            th.restore Restore
            
        tbody
          each change in job.changeLog
            tr
              td
                = change.data.__v
              td
                strong 
                  = change.data.title
              td
                = change.data.body
              td
                = ( change._id ? change._id.getTimestamp() : job._id.getTimestamp() )
              td
                = ( change.user ? change.user.username : authorCreated(job) )
              td
                a(href='/jobs/' + job.slug + '/log/' + change.data.__v + '/restore' ) 
                  | Restore  

block body_scripts
  script(src='/scripts/vendor/tablesorter/jquery.tablesorter.min.js')
  script.
    jQuery(function($){
      $('.edit-content').tablesorter();
    });
