extends ../layouts/default

block body_content
  article.panel.job-listing
    div.container
      .small-q
      h2.job-heading= job.title
      p#body
        != job.body
  include ../home/blocks/footer