extends ../layouts/default

block body_content
  article.panel
    .container
      if page_heading
        h1= page_heading 
      form(method='post', action=form_action)
        #username
          label Username:
            input(type='text', name='username')
        #email
          label Email:
            input(type='text', name='email')
        #password
          label Password:
            input(type='password', name='password')
        #submit
          if submit_button_title
            input(type='submit', value=submit_button_title)
          else
            input(type='submit')
