extends ../layouts/default

block body_content
  article.panel
    div.container
      a.btn.new-btn(href='/users/new') New User
      table.edit-content
        thead
          tr
            th.username Username 
              i.icon-chevron-up
            th.email Email
              i.icon-chevron-up
            th.role Role
              i.icon-chevron-up
            th.date Updated Date
              i.icon-chevron-up
            th.by Updated By
              i.icon-chevron-up
            th.log Log
            th.edit Edit
            
        tbody
          each user in users
            tr
              td
                strong 
                  a(href='/users/' + user.username + '/edit')
                    = user.username
              td
                a(href='/users/' + user.username + '/edit')
                  = user.email
              td
                a(href='/users/' + user.username + '/edit')
                  = user.role
              td
                a(href='/users/' + user.username + '/edit')
                  = dateUpdated(user)
              td
                a(href='/users/' + user.username + '/edit')
                  = updatedBy(user)
              td
                a(href='/users/' + user.username + '/log') Log
              td
                a(href='/users/' + user.username + '/edit') Edit

block body_scripts
  script(src='/scripts/vendor/tablesorter/jquery.tablesorter.min.js')
  script.
    jQuery(function($){
      $('.edit-content').tablesorter();
    });
