extends ../layouts/default

block body_content
  article.panel
    .container
      if pageHeading
        h1= pageHeading 
      form(method='post')
        #title
          input(type='text', name='title', placeholder='Client Name*', value=_client.title)
        #url
          input(type='text', name='url', placeholder='Client URL', value=_client.url)
        #submit
          input(type='submit')
