article.panel
  .container
    h1 Login
    = locals.message + " Test"
    form(method='post',action='/login')
      p
        label Username:
          input(type='text',name='username')
      p
        label Password:
          input(type='password',name='password')
      p
        input(type='submit',value='Login')
