extends ../layouts/default

block top_navigation
  .nav-toggle
    i.icon-reorder
  nav.main-nav
    ul
      li: a(href='#about') About
      li: a(href='#work') Work
      li: a(href='#services') Services
      li: a(href='#crew') Crew
      li: a(href='#clients') Clients
      li: a(href='#contact') Contact
      li: a(href='http://blog.qltd.com/') Blog

block body_content
  include blocks/headline
  include blocks/about
  include blocks/work
  include blocks/services
  include blocks/crew
  include blocks/clients
  include blocks/contact
  include blocks/footer
  include blocks/portfolio

block body_scripts
  script(src='/scripts/home.js')
  //- script(data-main='scripts/main', src='/scripts/vendor/requirejs/require.js')
