extends ../layouts/default

block body_content
  article.panel
    div.container
      a.btn.new-btn(href='/crew/new') New Crew
      table.edit-content
        thead
          tr
            th.title Title 
              i.icon-chevron-up
            th.date Updated Date
              i.icon-chevron-up
            th.by Updated By
              i.icon-chevron-up
            th.log Log
            th.edit Edit
            th.delete Remove
            
        tbody
          each c in crew
            tr
              td
                strong 
                  a(href='/crew/' + c.slug + '/edit')
                    = c.title
              td
                a(href='/crew/' + c.slug + '/edit')
                  = dateUpdated(c)
              td
                a(href='/crew/' + c.slug + '/edit')
                  = authorUpdated(c)
              td
                a(href='/crew/' + c.slug + '/log') Log
              td
                a(href='/crew/' + c.slug + '/edit') Edit
              td
                button(class="remove-crew" data-crew-slug=c.slug) Delete
                div(class="disappear remove-crew-wrap-"+c.slug style="display:none;")
                    button(class="remove-crew-action warning" style="background:#e16e2b;" data-crew-slug=c.slug) Are you sure?
                    button(class="cancel-remove-crew" style="background:#77c7c6" data-crew-slug=c.slug) Cancel
