extends ../layouts/default

block body_content
  article.panel
    div.container
      - each contact in contacts
        p
          strong
            = contact.name
          br
          em
            a(href='mailto:'+contact.email)
              = contact.email
          br
          = contact.company
          br
          = contact.comments
