extends ../layouts/default
  
block body_content
  article.panel
    div.container
      ul
        - each project in projects
          li
            h4 
              = project.client
            h6
              = project.slug
            h6
              = project._id
            p
              = project.description
            - each img in project.image
              img(src="/images/uploads/#{img.name}", alt="#{img.title}")