extends ../layouts/default

block body_content
  article.project-listing.panel
    div.container
      a.btn.new-btn(href='/projects/new') New Project
      table.edit-content
        thead
          tr
            th.title Title 
              i.icon-chevron-up
            th.date Updated Date
              i.icon-chevron-up
            th.by Updated By
              i.icon-chevron-up
            th.log Log
            th.edit Edit
            
        tbody
          - each project in projects
            tr
              td
                strong 
                  a(href='/projects/' + project.slug + '/edit')
                    = project.title
              td
                a(href='/projects/' + project.slug + '/edit')
                  = dateUpdated(project)
              td
                a(href='/projects/' + project.slug + '/edit')
                  = authorUpdated(project)
              td
                a(href='/projects/' + project.slug + '/log') Log
              td
                a(href='/projects/' + project.slug + '/edit') Edit

block body_scripts
  script(src='/scripts/vendor/tablesorter/jquery.tablesorter.min.js')
  script.
    jQuery(function($){
      $('.edit-content').tablesorter();
    });