extends ../layouts/default
  
block body_content
  article.panel
    div.container
      ul
        - each project in projects
          li
            h4 
              = project.client
            h6
              = project.machine
            h6
              = project._id
            p
              = project.description
            - each port in project.portfolio
              img(src="#{port.image}")
              = port.title
              = port.position