//- scripts and stylesheets that appear in <head>

script(type='text/javascript').
  function changevid() {
    document.getElementById('vid').innerHTML = '<source src="images/power.mp4" type="video/mp4">';
    document.getElementById('vid').load();
  }
