if user
  .admin-bar
    ul.menu-level-1
      li.home
        a(href="/") <i class="icon-home"></i>
      li.user-menu <i class="icon-user"></i> User Menu
        div.user-mega
          img(src="#{gravatar}")
          h6
            =user.username
          p 
            =user.email
            br 
            a.logout(href="#") <i class="icon-off"></i> Logout
      li.drop-down 
        i.icon-pencil 
        | Edit Content 
        ul.menu-level-2
          li
            a(href="/panel") Edit Panels
          li
            a(href="/project") Edit Projects
      li.drop-down
        a(href="/contact")
          i.icon-envelope-alt 
          | View Contact Submissions
    i#close-toolbar.icon-chevron-left
