if sessionUser
  .admin-bar
    ul.menu-level-1
      li.home
        a(href="/") <i class="icon-home"></i>
      li.user-menu <i class="icon-user"></i> User Menu
        div.user-mega
          img(src=sessionUser.getGravatarSrc())
          h6
            =sessionUser.username
          p 
            =sessionUser.email
            br 
            a.logout(href="/users/logout") <i class="icon-off"></i> Logout
      li.drop-down 
        i.icon-pencil 
        | Edit Content 
        ul.menu-level-2
          li
            a(href="/panels") 
              i.icon-tasks
              | Edit Panels
          li
            a(href="/projects") 
              i.icon-laptop
              | Edit Projects
          li
            a(href="/services") 
              i.icon-book
              | Edit Services
          li
            a(href="/crews") 
              i.icon-group
              | Edit Crew
          li
            a(href="/clients") 
              i.icon-briefcase
              | Edit Clients
      li.drop-down
        a(href="/contacts")
          i.icon-envelope-alt 
          | View Contact Submissions
    i#close-toolbar.icon-chevron-left
