#loading-screen
  .container
    #spinning-q(style=)
    h3 Loading...

  style.
    #loading-screen {
      position: fixed; 
      top: 100%; 
      width: 100%; 
      height: 100%; 
      background: #3d393a; 
      z-index: 9999;
      opacity: 0;
      transition: all 0.5s;
    }
    
    #loading-screen.open {
      opacity: 1;
      top: 0;
    }

    #loading-screen .container {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin-top: -77px;
    }

    #loading-screen .container #spinning-q {
      background: url(/images/q-blue.png); 
      background-repeat: no-repeat; 
      background-size: contain; 
      width: 90px; 
      height: 90px; 
      margin: auto;
    }

    #loading-screen .container h3 {
      margin: 10px auto 0;
    }

  script(src='//yui.yahooapis.com/3.12.0/build/yui/yui-min.js')
  script.
    /** We can accomplish this with only css, but cross-browser compatibility is an issue */
    YUI().use('transition', function (Y){
      Y.one('#spinning-q').transition({
        transform: 'rotate(' + 300000 + 'deg)',
        duration: 1000,
        easing: 'linear'
      }, function(){
        this.setStyle('webkitTransform', 'rotateY(0deg)');
      });               
    });
