if information && information.length
  .messages.info
    ul
      - each info in information
        li= info

if successes && successes.length
  .messages.success
    ul
      - each success in successes
        li= success

if warnings && warnings.length
  .messages.warning
    ul
      - each warning in warnings
        li= warning

if errors && errors.length
  .messages.error
    ul
      - each error in errors
        li= error
