if info && info.length
  .messages.info= info

if success && success.length
  .messages.success= success

if warning && warning.length
  .messages.warning= warning

if error && error.length
  .messages.error= error
