<<<<<<< HEAD
if panel && panel.About
  article#about.about.panel
    .container
      h2= panel.About.title
      p.content= panel.About.body
      .q(data-stellar-ratio='2', data-stellar-vertical-offset='200')
    
=======
article#about.about.panel
  .container
    h2 About
    p.content.
      Q is a strategic design studio that has worked with hundreds of clients for over 30 years. We create brand strategies, visual systems, and marketing materials that deliver compelling user experiences in all media. We help our clients succeed and thrive by designing and developing successful communications. In turn and in our own small way, we help make the world a better place.
    .q(data-stellar-ratio='2', data-stellar-vertical-offset='200')
>>>>>>> scott_dev
