if panel && panel.Clients
  article#clients.clients.panel
    .container
      h2= panel.Clients.title
      .clients.cycle-slideshow
        each client in clients
          img(src=client.image[0].src, alt=client.image[0].alt)
