if panel && panel.clients
  article#clients.clients.panel
    .container
      h2= panel.clients.title
      .clients-slideshow
        each client in clients
          img(src=client.image[0].src, alt=client.image[0].alt)
