if panel && panel.clients
  article#clients.clients.panel
    .container
      h2= panel.clients.title
      each client in clients
        .client
          img(src=client.image[0].src, alt=client.image[0].alt)
