if panel && panel.selectClients
  article#clients.clients.panel
    .container
      h2= panel.selectClients.title
      .clients-wrap
        each client, key in clients
          div(class=( (key + 1) % 6 == 0 ? [ 'client', 'omega' ] : 'client' ))
            img(src=client.image[0].src, alt=client.image[0].alt)
