article#contact.contact.panel
  .container
    h2 Contact
    .content
      p.
        We have a full-service office in Ann Arbor, Michigan. Our team is also represented in Los Angeles, Toronto, and occassionally Barbados. Our sister Q in Wiesbaden, Germany holds down the fort across the pond. If you have a project you’d like to discuss, please send us a note. We’d love to hear from you.
      form(action='/contact/save', method='post')
        input(name='name', placeholder='Name*', type='text')
        input(name='email', placeholder='Email*', type='text')
        input(name='company', placeholder='Company*', type='text')
        textarea(name='comments', placeholder='Comments*', cols='10', rows='5')
        input#contact-submit(type='submit', value='Submit')
