if panel && panel.Crew
  article#crew.crew.panel
    .container
      h2= panel.Crew.title
      .crew-grid.content
        ul
          li 
            .person-wrap.clearfix
              img(src='../images/photo.png')
              .person-info
                h4 Christine Golus
                h5 VICE PRESIDENT/CREATIVE DIRECTOR
            .bio
              p 100% Polish! Attended Central Michigan University and the University of Michigan (BFA, Magna Cum Laude, 1980). Taught graphic design at Eastern Michigan and Washtenaw Community College. Loves: modern dance and motherhood. Longest serving Q employee, since 1983.
          li 
            .person-wrap.clearfix
              img(src='../images/photo.png')
              .person-info
                h4 Christine Golus
                h5 VICE PRESIDENT/CREATIVE DIRECTOR
            .bio
              p 100% Polish! Attended Central Michigan University and the University of Michigan (BFA, Magna Cum Laude, 1980). Taught graphic design at Eastern Michigan and Washtenaw Community College. Loves: modern dance and motherhood. Longest serving Q employee, since 1983.
          li 
            .person-wrap.clearfix
              img(src='../images/photo.png')
              .person-info
                h4 Christine Golus
                h5 VICE PRESIDENT/CREATIVE DIRECTOR
            .bio
              p 100% Polish! Attended Central Michigan University and the University of Michigan (BFA, Magna Cum Laude, 1980). Taught graphic design at Eastern Michigan and Washtenaw Community College. Loves: modern dance and motherhood. Longest serving Q employee, since 1983.
          each crewmember, key in crew
            li 
              .person-wrap.clearfix
                each image in crewmember.image
                  img(src=image.src, alt=image.alt)
                .person-info
                  h4 
                    = crewmember.firstName + " " + crewmember.lastName
                  h5
                    = crewmember.position
              .bio
                p
                  = crewmember.body
                a(href="https://twitter.com/stolinski", target="_blank")
                  i.icon-twitter
      .q(data-stellar-ratio='0.5', data-stellar-vertical-offset='220')
