footer#footer
  .container
    h2.section-title Connect
    ul.social
      li
        a.facebook(href='#')
          i.icon-facebook
          span.
            Facebook
      li
        a(href='#')
          i.icon-twitter
          span.
            Twitter
      li
        a(href='#')
          i.icon-flickr
          span.
            Flickr
      li
        a(href='#')
          i.icon-linkedin
          span.
            LinkedIn
      li
        a(href='#')
          i.icon-instagram
          span.
            Instagram
    .newsletter
      form.clearfix(action='http://email.qltd.com/t/1/s/idhld/', method='post')
        input.field(placeholder='Email', type='text', name='mb-idhld-idhld', id='mb-idhld-idhld')
        input(type='submit', value='Newsletter Sign-up', id='submitbutton')
      p.
        Q news and updates four times a year. Your info is safe with us.
