footer#footer
  .container
    h2.section-title Connect
    .footer-top.clearfix
      ul.social
        li
          a.facebook(href='https://www.facebook.com/QQview', target="_blank")
            i.icon-facebook
            span.
              Facebook
        li
          a(href='https://twitter.com/qltd', target="_blank")
            i.icon-twitter
            span.
              Twitter
        li
          a(href='http://www.flickr.com/photos/28113117@N04/', target="_blank")
            i.icon-flickr
            span.
              Flickr
        li
          a(href='http://www.linkedin.com/groups?home=&gid=3001215&trk=anet_ug_hm&goback=%2Enpv_39331191_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_nav*4responsive*4tab*4profile_*1', target="_blank")
            i.icon-linkedin
            span.
              LinkedIn
        li
          a(href='http://instagram.com/qltd', target="_blank")
            i.icon-instagram
            span.
              Instagram
        li
          a(href='http://qrator.tumblr.com/', target="_blank")
            i.icon-tumblr
            span.
              Tumblr
      .newsletter
        form.clearfix(action='http://email.qltd.com/t/1/s/idhld/', method='post')
          input.field(placeholder='Email', type='text', name='mb-idhld-idhld', id='mb-idhld-idhld')
          input(type='submit', value='Newsletter Sign-up', id='submitbutton')
        p
          | Q news and updates four times a year. 
          | Your info is safe with us. 
          a.footer-text-link(href='http://qrator.tumblr.com/tagged/Q%20Newsletter', target="_blank") Read past newsletters.
    a.back-to-top(href="#top")
      | Back To Top 
      i.icon-angle-up 
    p.copyright
      &copy; 2014 Q LTD. All rights reserved.