section.headline
  h3 Making the world a better place through design and communication
  video#vid(preload, autoplay, loop, muted="muted", src="images/power.mp4", type="video/mp4")
  img#img(src="images/q-confroom.jpg")
  .teal
