section.headline#top
  h3 Making the world a better place through design and communication
  if video
    video#vid(preload, autoplay, loop, muted="muted")
      if video.mp4Src
        source(src=video.mp4Src, type="video/mp4")
      if video.oggSrc
        source(src=video.oggSrc, type="video/ogg")
  img#img(src="images/q-confroom.jpg")
  .teal
