.portfolio
  .project#project-1
    header
      .container
        h3 North Star Reach
        .content
          p.
            Creating a web site focusing on the audible experience of poetry, the spoken word. The site offers an ever-expanding, media-rich library of poets and poetry, as well as a regional map of upcoming poetry events. <a href="#">Visit site</a>.
      a.close(href='#') Close
    section
      .container
        img(src='../images/port/NorthStarReach1.png')
        img(src='../images/port/NorthStarReach2.png')
        img(src='../images/port/NorthStarReach3.png')
        img(src='../images/port/NorthStarReach4.png')
    footer
  .project#project-2
    header
      .container
        h3 Applecon
        .content
          p.
            Creating a web site focusing on the audible experience of poetry, the spoken word. The site offers an ever-expanding, media-rich library of poets and poetry, as well as a regional map of upcoming poetry events. <a href="#">Visit site</a>.
      a.close(href='#') Close
    section
      .container
        img(src='../images/port/NorthStarReach1.png')
        img(src='../images/port/NorthStarReach2.png')
        img(src='../images/port/NorthStarReach3.png')
        img(src='../images/port/NorthStarReach4.png')
    footer
