.portfolio
  if projects && projects.length
    each project in projects
      .project(id='project-' + project.slug)
        header
          .container
            h3= project.title
            .content
              p!= project.body
          a.close(href='#') Close
        section
          .container.project-images
            each image in project.images
              noscript
                img(src=image.src, alt=image.title)
        footer