if panel && panel.services
  article#services.services.panel
    .container
      h2= panel.services.title
      .content
        p.section-content= panel.services.body
          if services
            ul.services-list.list-left
              if services[0]
                each service, key in services[0]
                  li
                    i.icon-plus-sign 
                    i.icon-minus-sign 
                    = service.title
                      .service-details.details-left
                        =service.body
            ul.services-list.list-right
              if services[1]
                each service, key in services[1]
                  li
                    i.icon-plus-sign 
                    i.icon-minus-sign 
                    =service.title
                      .service-details.details-right
                        =service.body
  
      .q.pinq(data-stellar-ratio='2', data-stellar-vertical-offset='350')
