if panel && panel.Services
  article#services.services.panel
    .container
      h2= panel.Services.title
      .content
        p.section-content= panel.Services.body

          if services
            != renderTwoColumnList(services)

      .q.pinq(data-stellar-ratio='2', data-stellar-vertical-offset='350')
