//- BEGIN CONDITIONAL DOCTYPE/HTML DECLARATION
!!! 5
//if lt IE 7
    html(class="no-js lt-ie9 lt-ie8 lt-ie7", lang="en")
//if IE 7
    html(class="no-js lt-ie9 lt-ie8", lang="en")
//if IE 8
    html(class="no-js lt-ie9", lang="en")
// [if gt IE 8] <!
html(class="no-js", lang="en")
  // <![endif]

  //- BEGIN HEAD
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    script(type='text/javascript', src='//use.typekit.net/hia2tcg.js')
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}
    // Place favicon.ico and apple-touch-icon.png in the root directory 
    link(rel='stylesheet', href='/stylesheets/main.css')
    // build:js scripts/vendor/modernizr.js 
    script(src='/components/modernizr/modernizr.js')
    script(src='/scripts/vendor/underscore/underscore.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='/scripts/vendor/jquery.scrollTo-min.js')
    script(src='/scripts/vendor/jquery.stellar/jquery.stellar.min.js')
    script(src='/scripts/vendor/cycle2/jquery.cycle2.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js') 
     
    // endbuild 
    //- BEGIN DYNAMIC CONTENT FOR HEAD
    block head_scripts
    
  //- BEGIN BODY
  body
    
    //- BEGIN BODY HEADER
    header.header.clearfix
      h1.logo #{title}
      .nav-toggle
        i.icon-reorder
      block top_navigation

    //- BEGIN DYNAMIC CONTENT FOR BODY
    block body_content

    include blocks/admin  
    include blocks/messages

    block body_scripts

    script.
      jQuery(function($){
        $('#close-toolbar').on('click', function(){
          $('.admin-bar').toggleClass('mini');
        });
      });
    script(src='/scripts/vendor/retina/retina.js')
